body {
    background-color: cadetblue;
    height: 2000px;
}

div {
    background-color: bisque;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10%;
    border-style: solid 55px black;
    margin: 40px;
}